
body {
  background-color: #6ce6b1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Estilos CSS para el encabezado y el pie de página */
header, footer {
  background-color: #226608;
  padding: 20px;
  text-align: center;
}

/* Estilos CSS para los títulos de la página */
h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
}

/* Estilo para la barra de navegación */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #555;
}

/* Estilos para la tabla */
.table {
  border-collapse: separate;
}

.table thead th {
  background-color: #555;
  color: #fff;
}

.table tbody td {
  background-color: #baf6bb;
}

.table tbody tr:nth-child(odd) td {
  background-color: #c9fbd6;
}

.table tbody tr:hover td {
  background-color: #8ae28b;
}

/* Estilos adicionales */
.r {
  color: red;
}

main {
  padding: 20px;
}







