<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar base de datos</title>
</head>
<body>
    <header>
        <h1>PharmARG</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}"> Principal</a></li>
            <li><a href="{% url 'alta_paciente' %}"> Agregar paciente</a></li>
            <li><a href="{% url 'editar_paciente' %}"> Editar paciente</a></li>
            <li><a href="{% url 'consultas' %}"> Consultar base de datos</a></li>
        </ul>
    </nav>
    <main>
        <p>Consultar base de datos</p>
    </main>
    <footer>Copyright PharmARG 2023.</footer>
</body>
</html>