<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar base de datos</title>
</head>
<body>
    <header>
        <h1>PharmARG</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}"> Principal</a></li>
            <li><a href="{% url 'alta_paciente' %}"> Agregar paciente</a></li>
            <li><a href="{% url 'editar_paciente' %}"> Editar paciente</a></li>
            <li><a href="{% url 'consultas' %}"> Consultar base de datos</a></li>
        </ul>
    </nav>
    <main>
        <h2>Consultar base de datos</h2>
        <section>
            <h2>Resultado de su consulta</h2>
        
            {% for paciente in listado_pacientes %}
            <p>Nombre: {{paciente.nombre_paciente}}</p>
            <p>Apellido: {{paciente.apellido_paciente}}</p>
            <p>Edad: {{paciente.edad_paciente}}</p>
            <p>Patologías: {{paciente.pats_paciente}}</p>
            <p>Medicamentos actuales: {{paciente.meds_paciente}}</p>
            <p>Prescripciones pendientes de retiro: {{paciente.presc_pend_paciente}}</p>
            {% empty %}
            <p>No hay pacientes con las características solicitadas.</p>
            {% endfor %}
        </section>
    </main>
    <footer>Copyright PharmARG 2023.</footer>
</body>
</html>
