{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>ARGPharm - {% block title %}{% endblock %}</title>
    {% block extra_head %}
    
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'stock/css/estilos.css' %}">  
    {% block extra_scripts %}
    <script src="{% static 'stock/js/script.js' %}"></script>
    {% endblock %}


</head>
<body>
    <header>
        <h1>ARGPharm</h1>
        <p>¡El mejor socio para tu farmacia!</p>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li> <a href="{% url 'lista_medicamentos' %}">Medicamentos</a>    
            <li><a href="{% url 'alta_medicamento' %}">Alta de Medicamento</a></li>
            <li><a href="{% url 'pedido' %}">Nuevo Pedido</a></li>
            <li><a href="{% url 'lista_pedidos' %}">Listado de Pedidos</a></li>
            <li><a href="{% url 'lista_clientes' %}">Clientes</a></li>
            <li><a href="{% url 'alta_cliente' %}">Alta cliente</a></li>
            <li><a href="{% url 'lista_proveedores' %}">Proveedores</a></li>
            <li><a href="{% url 'alta_proveedor' %}">Alta de Proveedor</a></li>
            <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            <li><a href="{% url 'register' %}">Registrarse</a></li>
   
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 ARGPharm</p>
    </footer>
   
 
</body>
</html>
