{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>ARGPharm - {% block title %}{% endblock %}</title>
    {% block extra_head %}
    
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'stock/css/estilos.css' %}">
    <script src="{% static 'stock/js/script.js' %}"></script>  
</head>

<body>
    <header>
        <h1>ARGPharm</h1>
        <p>¡El mejor socio para tu farmacia!</p>
        <img src="{% static 'stock/img/logo.png' %}" width="111.25" height="93">
        {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.first_name }}</p>
        {% endif %}
    </header>
    <nav>
        <ul class="accordion">
            <li class="accordion-item">
                <div class="toggle" onclick="toggleAccordion(0)">Inicio</div>
                <div class="content">
                    <a href="{% url 'inicio' %}">Página de inicio</a>
                </div>
            </li>
            {% if user.is_authenticated %}
            <li class="accordion-item">
                <div class="toggle" onclick="toggleAccordion(1)">Medicamentos</div>
                <div class="content">
                    <a href="{% url 'lista_medicamentos' %}">Lista de Medicamentos</a>
                    {% if perms.stock.add_medicamento %}
                    <a href="{% url 'alta_medicamento' %}">Nuevo Medicamento</a>
                    {% endif %}
                </div>
            </li>
            <li class="accordion-item">
                <div class="toggle" onclick="toggleAccordion(2)">Pedidos</div>
                <div class="content">
                    <a href="{% url 'pedido' %}">Nuevo Pedido</a>
                    {% if perms.stock.view_pedido %}
                    <a href="{% url 'lista_pedidos' %}">Listado de Pedidos</a>
                    {% endif %}
                </div>
            </li>
            <li class="accordion-item">
                <div class="toggle" onclick="toggleAccordion(3)">Clientes</div>
                <div class="content">
                    <a href="{% url 'lista_clientes' %}">Lista de Clientes</a>
                    {% if perms.stock.add_cliente %}
                    <a href="{% url 'alta_cliente' %}">Alta de Cliente</a>
                    {% endif %}
                </div>
            </li>
            <li class="accordion-item">
                <div class="toggle" onclick="toggleAccordion(4)">Proveedores</div>
                <div class="content">
                    <a href="{% url 'lista_proveedores' %}">Lista de Proveedores</a>
                    {% if perms.stock.add_proveedor %}
                    <a href="{% url 'alta_proveedor' %}">Alta de Proveedor</a>
                    {% endif %}
                </div>
            </li>
            <li class="accordion-item">
                <div class="toggle" onclick="toggleAccordion(5)">Cerrar sesión</div>
                <div class="content">
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </li>
            {% else %}
            <li class="accordion-item">
                <div class="toggle" onclick="toggleAccordion(1)">Iniciar sesión</div>
                <div class="content">
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </div>
            </li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 ARGPharm</p>
    </footer>
</body>
</html>