{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <title>ARGPharm - {% block title %}{% endblock %}</title>
    {% block extra_head %}
    
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'stock/css/estilos.css' %}">  
    {% block extra_scripts %}
    <script src="{% static 'stock/js/script.js' %}"></script>
    {% endblock %}

</head>

<body>
    <header>
        <h1>ARGPharm</h1>
        <p>¡El mejor socio para tu farmacia!</p>
        {% if user.is_authenticated %}
        <p>Bienvenido, {{ user.first_name }}</p>
    {% endif %}
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'lista_medicamentos' %}">Medicamentos</a></li>
                {% if perms.stock.add_medicamento %}
                    <li><a href="{% url 'alta_medicamento' %}">Alta de Medicamento</a></li>
                {% endif %}
                <li><a href="{% url 'pedido' %}">Nuevo Pedido</a></li>
                {% if perms.stock.view_pedido %}
                    <li><a href="{% url 'lista_pedidos' %}">Listado de Pedidos</a></li>
                {% endif %}
                {% if perms.stock.add_cliente %}
                    <li><a href="{% url 'lista_clientes' %}">Clientes</a></li>
                    <li><a href="{% url 'alta_cliente' %}">Alta cliente</a></li>
                {% endif %}
                <li><a href="{% url 'lista_proveedores' %}">Proveedores</a></li>
                {% if perms.stock.add_proveedor %}
                    <li><a href="{% url 'alta_proveedor' %}">Alta de Proveedor</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li> 
            {% else %}
                <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 ARGPharm</p>
    </footer>
</body>
</html>

