{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="bauer-text clearfix " style="font-size:42px;line-height:50px;margin-bottom:32px;"><p><span class="font-weight-300">Nuestra </span>Cultura</p>
</h2>
<h3>Somos una empresa cuyos 35 minutos de trayectoria avalan nuestra solidez.</h3>
<p>Durante estos años hemos transformamos a la empresa en una gran familia. Fue un trabajo 
  en conjunto con nuestros empleados, a los cuales echariamos a patadas con todo gusto, que en estos 35 
  minutos demostraron su incansable voluntad de no hacer nada.</p>
  {% if not user.is_authenticated %}
  <h2 id="r"> Registrarse</h2>
  <p>Si necesita registrase , comuniquese con el administrador del sitio, admin@argfarm.com
  </p>
  {% endif %}
<h1>Información para consumidores</h1>
<p> <ul>Recomendaciones
  <li>Adquirí los medicamentos en farmacias habilitadas.</li>
  <li> No adquieras medicamentos en la vía pública o a través de Internet.</li>
  <li>Verificá la calidad de los empaques, desconfiando de aquellas 
    unidades con tachones, enmiendas o signos de haber sufrido la 
    eliminación de leyendas, logotipos o etiquetas.</li>
  <li>No adquieras productos cuyos dispositivos de seguridad (ej. lacres,
    precinto de seguridad, etc.) hayan sido violados.</li>  
  <li>
    Ante cualquier duda acerca de la legitimidad de un producto, 
    comunicate con ANMAT Responde al 0800-333-1234 o con el 
    Departamento de Control de Mercado a pesquisa@anmat.gob.ar</li>
  </ul> </p>
<table class="table">
  <thead>
    <div class="col-md-4 promotion-background box-border-right pm-1">
      <div class="center-element">
       
  <thead>
    <div class="col-md-4 promotion-background box-border-right pm-1">
      

  </thead>
  <tbody>
    <img src="{% static 'stock/img/mar.jpg' %}" alt="Mi imagen">

  </tbody>
</table>

{% endblock %}

