{% extends 'base.html' %}

{% block title %}
    Lista de proveedores
{% endblock %}

{% block content %}
    <h1>Lista de proveedores</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Mail</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.nombre }}</td>
                    <td>{{ proveedor.telefono }}</td>
                    <td>{{ proveedor.mail }}</td>
                    <td>
                        <a href="{% url 'editar_proveedor' proveedor.id %}"><button class="action-button edit-button">Editar</button></a>
                        <a href="{% url 'detalle_proveedor' proveedor.id %}"><button class="action-button details-button">Detalles</button></a>
                        <form method="POST" action="{% url 'eliminar_proveedor' %}" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="proveedor_id" value="{{ proveedor.id }}">
                            <button class="action-button delete-button" type="submit">Eliminar</button>
                        </form>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No hay proveedores registrados.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}