{% extends 'base.html' %}

{% block title %}
Título de la página
{% endblock %}

{% block content %}

<h1>Lista de Medicamentos</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
      <th scope="col">Lote</th>
      <th scope="col">Proveedor</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for medicamento in medicamentos %}
    <tr>
      <th scope="row">{{ medicamento.id }}</th>
      <td>{{ medicamento.nombre }}</td>
      <td>{{ medicamento.cantidad }}</td>
      <td>{{ medicamento.precio }}</td>
      <td>{{ medicamento.lote }}</td>
      <td>{{ medicamento.proveedor }}</td>
      <td colspan="7">
        <hr>
        <a href="{% url 'detalle_medicamento' medicamento.id %}" class="btn btn-primary">Detalles</a>
        <a href="{% url 'editar_medicamento' medicamento.id %}" class="btn btn-secondary">Editar</a>
        <form action="{% url 'eliminar_medicamento' medicamento.id %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
      </td>
    </tr>

    {% empty %}

    <tr>
      <td colspan="7">No hay medicamentos cargados.</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}
